{# *************************** #}
{# ***** LOGIN USER VIEW ***** #}
{# *************************** #}


{% extends 'layout/layout.twig' %}

{% block title %}Authentification{% endblock %}

{% block description %}{% endblock %}


{% block main %}

    <main>

        <!-- Login User Section -->
        <section>

            <form action="index.php?access=user!login" method="post">

                <fieldset>
                    <legend><i class="fa fa-lock" aria-hidden="true"></i> Connexion au compte utilisateur</legend>
                    <ul>

                        <!-- User email field -->
                        <li>
                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" placeholder="Insérez votre email" required>
                        </li>

                        <!-- User password field -->
                        <li>
                            <label for="pass">Mot de passe</label>
                            <input id="pass" name="pass" type="password" placeholder="Insérez votre mot de passe" autocomplete="off" required>
                        </li>

                        <!-- Controls buttons -->
                        <li class="btn-group">
                            <a class="btn btn-secondary btn-lg" href="index.php?access=index.php">Annulation</a>
                            <input class="btn btn-secondary btn-lg" type="submit" value="Connexion">
                            <a class="btn btn-secondary btn-lg" href="index.php?access=user!create">Créez votre compte</a>
                        </li>
                    </ul>
                </fieldset>

            </form>

        </section>
    </main>

{% endblock %}