<footer class="row ">

    <section class="col-sm-4">
        <h4>Contact</h4>
        <address >

            Lydia BENMAMAR <br>
            15 RUE DE LA PAIX<br>
            75000 PARIS<br>
            <a href="mailto:lydia.benmamar@gmail.com">lydia.benmamar@gmail.com</a>
        </address>
    </section>

    <section class="col-sm-4">
        <h4>Suivez-moi </h4>

        <a href="http://www.twitter.fr">Twitter</a> <br>
        <a href="http://www.facebook.fr">Facebook </a><br>
        <a href="http://www.instagram.fr">Instagram</a>
    </section>

    <section class="col-sm-4">
        <h4>Plan du Site</h4>
        <ul >
            <li>Accueil</li>
            <li>Actualités</li>
            <li>Contact</li>
        </ul>
    </section>

    <p class= " col-sm-4 offset-sm-4">	&copy; Copyright 2019 Projet Openclassrooms réalisé par Lydia B </p>
</footer>