<nav id= navigation class="col-lg-8 offset-lg-2 navbar navbar-fixed-top col-md-12">
    <a class="navbar" href="#">L'Accueil</a>
    <a class="navbar" href="#">Actualités</a>
    <a class="navbar" href="#">Contact</a>
</nav>
