<nav id= navigation class="col-lg-8 offset-lg-2 navbar navbar-fixed-top col-md-12">
    <a class="btn btn-outline-light" href="index.php?access=index.php" title="Accueil">L'Accueil</a>
    <a class="btn btn-outline-light" href="index.php?access=">Contact</a>
    <a class="btn btn-outline-light" href="index.php?access=user!login" title="Connexion">Connexion</a>
</nav>
